/*滚动条样式设置*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
/*未到达的位置样式设置*/
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 6px;
}
/*已经到达的位置样式设置*/
::-webkit-scrollbar-thumb:vertical {
    height: 3px;
    background-color: rgba(125, 125, 125, 0.5);
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 3px;
    background-color: rgba(125, 125, 125, 0.1);
    -webkit-border-radius: 6px;
}


.modification{
    cursor: pointer;
    color: #F44336;
}
.cancel{
    cursor: pointer;
    color: #2196F3;
}
.erweima{
    width: 200px;
    height: 200px;
    border: 1px solid #888888;
    margin: 0px 50px 30px;
    text-align: center;
    line-height: 200px;
}
.shipments{
    color: #03A9F4;
    cursor: pointer;
}
.shipments-dark{
    color: #BBBBBB;
}
.preview{
    cursor: pointer;
    color: #03A9F4;
}
.preview:hover{
    cursor: pointer;
    color: #03A9F4;
    text-decoration: none;
}
#account-select{
    padding: 6px 10px;
    border: none;
    color: #888888;
}
.tips>h4{
    line-height: 2.508rem;
    margin: 100px 0px 10px 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #F44336;
}
.tips>p{
    margin: 0 0 0 40px;
    line-height: 30px;
}

@media screen and (max-width: 768px){
    .tips>h4{
        margin: 0px 0px 10px 0px;
    }
    .tips>p{
        margin: 0 0 0 10px;
    }
    .tips .tips1{
        margin: 20px 0 0 0;
    }
}














